@charset "UTF-8";

#signUp{
	text-align:center;
}

#joinFormDiv{
	width:503px;
	margin: 0 auto;
}

#address1{
	width:70px;
	display:table-cell;
}

#normalPhone1, #cellPhone1{
	width:80px;
	display:table-cell;
} 

#normalPhone2, #normalPhone3, #cellPhone2, #cellPhone3{
	width:140px;
	display:table-cell;
	margin-left:5px;
}

input::placeholder{
	color:#E2E2E2;
	font-size: 12px;
}

